.App-body > div > div#img-mapper {
  /* position: initial !important; */
  /* width: 100vw !important; */
  /* height: initial !important; */
}

* {
  margin: 0;
}
.App {
  text-align: center;
}

.test {
/* position: absolute; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-menu {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100vw;
  /* margin-top: 3vh; */
}

.App-logo {
  width: 100vw;
  display: flex;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-body {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: #E42324;
  font-weight: bold;
  position: relative;
}

.App-link {
  color: #61dafb;
}

.menu-test {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  /* background-color: green; */
  align-items: center;
  justify-content: center;
}

.menu-item {
  display: flex;
}

.menu-item-a {
    width: 63vw;
    height: 5.5vh;
    /* background-color: red; */
    border: 1px cyan solid;
    margin-top: 15vh;
}

.bday-element {
  display: flex;
  position: absolute;
  transform: translate(-50vw, 0vh);
  -webkit-transform: translate(-50vw, 0vh);
  /* transform: translateX(-31vw) translateY(-10vh); */
}

.bday-date {
  top: 55vh;
  left: 69vw;
  width: 62vw;
  height: 6.2vh;
  border: 1px solid; 
}

/*   top: 63%;
  left: 50%; */

.bday-location {
  top: 63.5vh;
  left: 81vw;
  width: 31.5vw;
  height: 4.2vh;
  border: 1px solid;
  /* transform: translate(-50%, -50%); */
}

  /* top: 67%;
  left: 50%; */

.bday-confirmation {
  top: 68.7vh;
  left: 81vw;
  width: 36vw;
  height: 2.75vh;
  border: 1px solid;
  /* transform: translate(-50%, -50%); */
}

.div-link {
  /* display: flex; */
  background-color: aqua;
  width: 20vw;
  /* height: 100vh; */
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

