.App {
  text-align: center;
}

.app-menu {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100vw;
  margin-top: 3vh;
}

.menu-option {
  width: 24vw;
}

.menu-location {
  width: 30vw;
}

.menu-date {
  width: 32vw;
}

.menu-menu {

}

.App-logo {
  width: 100vw;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-body {
  background-color: #ffc0cb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: #E42324;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

.App-div {
  background-color: beige;
  display: flex;
  width: 65vw;
  height: 4vh;
  position: fixed;
  top: 588px;
  justify-content: space-around;
}

.div-link {
  /* display: flex; */
  background-color: aqua;
  width: 20vw;
  /* height: 100vh; */
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */